@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply max-w-4xl mx-auto w-full p-4;
}


.animate-gradient {
  animation: shiftGradient 1s linear infinite;
  background-size: 200% 200%;
}

@keyframes shiftGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}